<div class="panel panel-default">
    <div class="panel-body">
        <h3>News feed</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 col-md-offset-1">
        <div ng-repeat="post in newsFeed">
            <div class="panel panel-primary news-feed">
                <div class="panel-heading">
                    <img src="" ng-src="{{post.author.profileImageData}}" alt="post.author.name" ng-if="post.author.profileImageData"/>
                    <img src="" ng-src="{{defaultProfileImageData}}" alt="post.author.name" ng-if="!post.author.profileImageData"/>
                    <div>
                        <a href="/users/{{post.author.username}}">
                            {{post.author.name}}
                        </a>
                        <br/>
                        <span>{{post.date | date:'dd-MM-yyyy HH:MM:ss'}}</span>
                    </div>
                </div>
                <div class="panel-body">
                    <span>{{post.postContent}}</span>
                    {{post.id}}
                </div>
                <div class="panel-footer">
                    <p>{{post.likesCount}}
                        <a href="">
                            <span ng-if="post.liked" ng-click="unlikePost(post.id)">Unlike</span>
                            <span ng-if="!post.liked" ng-click="likePost(post.id)">Like</span>
                        </a>
                        <span>{{post.totalCommentsCount}}</span>
                        <a href="">Comment</a>
                    </p>
                </div>
            </div>

            <div class="panel panel-warning news-feed news-feed-comment col-md-offset-3" ng-repeat="comment in post.comments">
                <div class="panel-heading">
                    <img src="" ng-src="{{comment.author.profileImageData}}" alt="post.author.name" ng-if="comment.author.profileImageData"/>
                    <img src="" ng-src="{{defaultProfileImageData}}" alt="post.author.name" ng-if="!post.author.profileImageData"/>
                    <div>
                        <a href="/users/{{comment.author.username}}">
                            {{comment.author.name}}
                        </a>
                        <br/>
                        <span>{{comment.date | date:'dd-MM-yyyy HH:MM:ss'}}</span>
                    </div>
                </div>
                <div class="panel-body">
                    <span>{{comment.commentContent}}</span>
                    {{comment.id}}
                </div>
                <div class="panel-footer">
                    <p>{{comment.likesCount}}
                        <a href="">
                            <span ng-if="comment.liked" ng-click="unlikePost(comment.id)">Unlike</span>
                            <span ng-if="!comment.liked" ng-click="likePost(comment.id)">Like</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1" friends-sidebar></div>
</div>
<toaster-container toaster-options="{'animation-class': 'toast-center'}"></toaster-container>