.jumbotron {
	padding: 20px;
	border-radius: 10px;
}

body>div>div.row {
	margin: 0;
}

footer {
	background-color: #f5f5f5;
	padding: 10px;
}

growl-notification {
    position: fixed;
    top: 150px;
    right: 10px;
    z-index: 1000;
}

growl-notifications growl-notification {
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 15px 30px;
    width: 200px;
    display: block;
    border-radius: 5px;
    margin-top: 15px;
}