html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    padding-top: 10px;
}

.jumbotron {
	padding: 20px;
	border-radius: 10px;
}

body>div>div.row {
	margin: 0;
}

.navbar img {
    width: 50px;
}

.modal {
    display: block;
}

.modal img {
    width: 50px;
}

.request {
    border-bottom: 1px dotted dimgray;
}