<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="message-input" class="form-group">
                <div class="input-group">
                    <input type="text" ng-model="postContent" class="form-control" placeholder="Message...">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button" ng-click="submitPost(postContent)">Submit</button>
                            </span>
                </div>
                <a href="#/users/{{user.username}}">
                    <img src="" ng-src="{{user.profileImageData}}" alt="{{user.name}}" ng-if="user.profileImageData">
                    <img src="" ng-src="{{defaultProfileImageData}}" alt="{{user.name}}" ng-if="!user.profileImageData">
                    <span> as {{user.name}}</span>
                </a>
            </div>
        </div>
    </div>
</div>